$alerts: (success: #518F3F, info: #3F799B, warning: #C28A2E, danger: #A63E38)

.alert
  padding: 15px
  margin-bottom: 1em
  border: 1px solid transparent
  border-radius: 4px

@each $alert-type, $alert-color in $alerts
  .alert-#{$alert-type}
    color: lighten($alert-color, 50%)
    background: $alert-color
    border-color: darken($alert-color, 20%)