@import ../lib/bourbon/dist/_bourbon

$mods_tf-text-color: #e6e6e6
$mods_tf-background-color: #312e29
$mods_tf-orange: #f3732d

+font-face("Neris Light", "../fonts/nerislight/nerislight-webfont")

html, body
  margin: 0
  padding: 0
  height: 100%

*
  @include box-sizing(border-box)
  &:before, &:after
    @include box-sizing(border-box)

.cf
  *zoom: 1
  &:before, &:after
    content: " "
    display: table
  &:after
    clear: both

body
  color: $mods_tf-text-color
  background: $mods_tf-background-color
  min-width: 800px
  font:
    family: Neris Light, Helvetica Neue, Helvetica, Arial, sans-serif

.logo
  display: block
  margin: 0 auto
  width: 200px
  height: 57px
  background: url('../images/mods_tf_logo.png') no-repeat center

.header
  border-bottom: 6px solid $mods_tf-orange
  padding: 29px 60px
  margin-bottom: 1em
  max-height: 125px

  $number_of_backgrounds: 2
  @for $bg_num from 0 to $number_of_backgrounds
    &.alpine_#{$bg_num}
      background: url('../images/headers/bg_#{$bg_num}.png') no-repeat center

.container
  max-width: 1000px
  margin: 0 auto
  padding: 0 15px

a
  color: $mods_tf-text-color
  text-decoration: none

  &:hover
    color: darken($mods_tf-text-color,15%)

.construction
  text-align: center

@import alerts.sass
@import steam.sass
@import header.sass