=overflow_ellipse
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

=class-icons($mods_tf-class-icon-width)
  background-size: $mods_tf-class-icon-width * 10px #{$mods_tf-class-icon-width}px
  @for $i from 0 to length($mods_tf-classes)
    $mods_tf-class: nth($mods_tf-classes, $i+1)
    &.#{$mods_tf-class}
      background-position: -#{$i * $mods_tf-class-icon-width}px

$mods_tf-mods-info-transition: 0.2s

+font-face("Neris SemiBold", "../fonts/neris-semibold/Neris-SemiBold-webfont")

.mod
  position: relative
  float: left
  font-size: 14px
  overflow: hidden
  &:hover
    color: inherit

  & .info
    position: absolute
    width: 100%
    bottom: 0
    margin-bottom: -3.5em
    background-color: transparentize($mods_tf-orange, 0.7)
    padding: 10px
    +transition(margin-bottom $mods_tf-mods-info-transition ease, background $mods_tf-mods-info-transition ease)
    
    & .name
      +overflow_ellipse
      font:
        size: golden-ratio(14px, 1)
        family: Neris SemiBold, $mods_tf-fonts

    & .authors
      +overflow_ellipse

  & .mod_class
    +size(50px)
    background-image: url('../images/class_icons.png')
    +position(absolute, 5px 5px null null)
    +class-icons(50)

  & img
    display: block
    max-width: 240px

  & .spacer
    height: 2px
    margin: 8px 0
    +transition(background-color $mods_tf-mods-info-transition ease)

  &.large
    font-size: 18px
    & img
      max-width: 480px
    & .info
      padding: 15px
      & .name
        font-size: golden-ratio(18px, 1)
    & .mod_class
      +size(80px)
      +position(absolute, 10px 10px null null)
      +class-icons(80)

  &:hover > .info
    margin-bottom: 0px
    background-color: desaturate(darken(transparentize($mods_tf-orange, 0.2), 25%), 25%)
    & .spacer
      background-color: $mods_tf-orange
  & .stats
    overflow: auto
    ul
      list-style: none
      margin: 0
      padding: 0
    & li
      display: inline
      color: $mods_tf-orange
      font-weight: 800
      font-size: 1.2em
      float: left
      border-right: 1px solid transparentize($mods_tf-orange, .8)
      line-height: 1.1em
      padding: 0 .7em 0 .7em

      &:first-child
        padding-left: 0

      &:last-child
        border-right: 0

      span
        color: $mods_tf-text-color
        font-size: .7em
        display: block
        font-weight: normal
.mod_wall
  height: 720px
  overflow: hidden