=overflow_ellipse
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

=class-icons($mods_tf-class-icon-width)
  background-size: $mods_tf-class-icon-width * 10px #{$mods_tf-class-icon-width}px
  @for $i from 0 to length($mods_tf-classes)
    $mods_tf-class: nth($mods_tf-classes, $i+1)
    &.#{$mods_tf-class}
      background-position: -#{$i * $mods_tf-class-icon-width}px

$mods_tf-mods-info-transition: 0.2s

+font-face("Neris SemiBold", "../fonts/neris-semibold/Neris-SemiBold-webfont")
+font-face("Neris Black", "../fonts/neris-black/Neris-Black-webfont")

.mod
  position: relative
  float: left
  font-size: 14px
  overflow: hidden
  background: darken($mods_tf-background-color, 5%)
  border: 2px solid darken($mods_tf-highlight, 15%)
  color: $mods_tf-text-color
  +size(240px)
  &:hover
    color: inherit

  & .info
    position: absolute
    width: 100%
    bottom: 0
    margin-bottom: -4em
    background-color: transparentize($mods_tf-highlight, 0.7)
    padding: 0.8em
    +transition(margin-bottom $mods_tf-mods-info-transition ease, background $mods_tf-mods-info-transition ease)
    
    & .name
      +overflow_ellipse
      font:
        size: golden-ratio(14px, 1)
        family: Neris SemiBold, $mods_tf-fonts

    & .authors
      +overflow_ellipse

  & .mod_class
    +size(50px)
    background-image: url('../images/class_icons.png')
    +position(absolute, 5px 5px null null)
    +class-icons(50)

  & img
    display: block
    max-width: 236px

  & .spacer
    height: 2px
    margin: 0.5em 0
    +transition(background-color $mods_tf-mods-info-transition ease)

  &.large
    font-size: 18px
    +size(480px)
    & img
      max-width: 476px
    & .name
      font-size: golden-ratio(18px, 1)
    & .mod_class
      +size(80px)
      +position(absolute, 10px 10px null null)
      +class-icons(80)

  &:hover > .info
    margin-bottom: 0px
    background-color: desaturate(darken(transparentize($mods_tf-highlight, 0.2), 25%), 25%)
    & .spacer
      background-color: $mods_tf-highlight
  & .stats
    overflow: auto
    ul
      list-style: none
      margin: 0
      padding: 0
    & li
      display: inline
      color: $mods_tf-highlight
      font-weight: 800
      font-size: 1.2em
      float: left
      border-right: 1px solid transparentize($mods_tf-highlight, .8)
      line-height: 1.1em
      padding: 0 .7em 0 .7em

      &:first-child
        padding-left: 0

      &:last-child
        border-right: 0

      span
        color: $mods_tf-text-color
        font-size: .7em
        display: block
        font-weight: normal

.mod_wall
  height: 720px
  overflow: hidden

.mod-left
  overflow: hidden

.mod-description-title, .mod-description
  background: darken($mods_tf-background-color, 2%)

.mod-description
  border-radius: 8px
  padding: 8px
  border-left: 1px solid $mods_tf-highlight
  border-bottom: 1px solid $mods_tf-highlight
  margin-bottom: 1em
  line-height: 20px
  font-size: 14px
  & *:first-child
    margin-top: 0
  & *:last-child
    margin-bottom: 0
  & img
    max-width: 100%

$mods_tf-triangle-color: mix(darken($mods_tf-background-color, 4%), desaturate($mods_tf-highlight, 15%), 60%)

#sidebar
  width: auto
  text-align: left
  padding: 15px
  margin-bottom: 1em
  border-bottom: 2px solid $mods_tf-highlight

  & .sidebar
    float: left
    padding: 0.5em
    & > div
      margin-bottom: 4px

    &.left
      width: 55%
    &.right
      width: 45%

  .mod-stat-title
    font-weight: bold

  .mod-stat
    font-size: 2em

  & .mod-name
    font-family: "Neris Black", $mods_tf-fonts
    font-size: 3em
    text-align: center
    overflow: hidden
    text-overflow: ellipsis

  & .backpack_image
    position: relative
    width: 100%
    overflow: hidden
    &:before
      content: ""
      display: block
      padding-top: 64%
    & img
      position:  absolute
      top: -28%
      left: 0
      width: 100%

  & .authors
    min-width: 200px
    width: 80%
    & .steam_block
      width: 100%
      margin-bottom: 4px
      &:last-of-type
        margin-bottom: initial
  & .workshop
    display: block

  @media (min-width: 1240px)
    float: right
    width: 400px
    margin-bottom: 0
    border-bottom: 0
    margin-left: 1em
    border-right: 2px solid $mods_tf-highlight
    border-top-right-radius: 1em

    & .authors
      margin: auto

    & .sidebar
      width: auto
      float: none
      padding: 0
      &.left, &.right
        width: auto
    & .workshop
      text-align: center

#results
  margin-top: 0.5em
  background: darken($mods_tf-background-color, 3%)
  border-radius: 5px
  border-bottom: 1px solid $mods_tf-highlight
  padding: 8px
  text-align: center
  & .item
    margin: 5px
    overflow: hidden
    display: inline-block
    +size(128px 86px)
    & img
      margin: -23px 0 -23px 0

#item_search
  display: none
  body.js &
    display: block

.item-search
  min-height: 320px

.upload-form
  text-align: center
  #file-picker
    font-size: 4em
    overflow: hidden
    width: 400px
    position: relative
    padding: 0.2em 0.2em 1em
    margin: auto
    border: 2px solid $mods_tf-highlight
    background-color: darken($mods_tf-background-color, 3%)
    border-radius: 2px
    .gold_star
      color: #F7DA1B
    input[type=file]
      top: 0
      right: 0
      position: absolute
      font-size: initial
      height: 100%
      width: 100%
      padding: 52% 20px 20px
  input[type=submit]
    font-size: 4em
    margin-top: 0.5em