{% extends "layout.html" %}
{% block content %}
    {{ user.name }}
    <div><a href="{{ user.perma_profile_url }}" target="_blank">Steam</a></div>
    {%- if current_user.account_id == user.account_id -%}
        {%- if current_user.is_uploader() -%}
            <div><a href="{{ url_for('mods.upload') }}">Upload a mod</a></div>
        {%- endif -%}
        <div><a href="{{ url_for('.logout') }}">Logout</a></div>
    {%- endif -%}

    {%- if mods.items | length > 0 -%}
        Mods
        <ul>
            {%- for mod in mods.items -%}
                <li><a href="{{ url_for('mods.page',mod_id=mod.id) }}">{{ mod.pretty_name }}</a></li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
    {%- if hidden_mods.items | length > 0 -%}
        Hidden Mods
        <ul>
            {%- for mod in hidden_mods.items -%}
                <li><a href="{{ url_for('mods.page',mod_id=mod.id) }}">{{ mod.pretty_name }}</a></li>
            {%- endfor -%}
        </ul>
    {%- endif -%}

{% endblock %}