{% extends 'admin/master.html' %}

{% block body %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Stat</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for stat_name, stats in stats.items() %}
                {%- set stat_url = stats.get('url') -%}
                <tr>
                    <td>{{ "<a href='{}'>".format(stat_url) | safe if stat_url }}{{ stat_name | capitalize }}{{ "</a>" | safe if stat_url }}</td>
                    <td>{{ stats.get('stat') | format_thousands }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('index') }}">Return</a>
{% endblock %}