{% extends "layout.html" %}
{% block scripts %}
    {{ super() }}
    <script>
        var tf2_api = "{{ url_for("tf2.api") }}";
        var mod_id  = {{ mod_id }};
    </script>
    {% assets "download_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
{% block content %}
    <form id="item_search">
        {{ item_search.hidden_tag() }}
        {{ item_search.item_name(placeholder="Search...") }}
        {{ item_search.class_name }}
        {{ item_search.equip_region }}
        {{ item_search.bodygroup }}
        <input type="submit" class="submit" value="Submit">
    </form>
    <div class="results">

    </div>
{% endblock %}