{% extends "layout.html" %}
{% from "macros.html" import form_field, steam_block, field_errors %}
{% block scripts %}
    {{ super() }}
    {% assets "edit_js" %}
        <script src="{{ ASSET_URL }}"></script>
        <script>
            var tf2_api = "{{ url_for("tf2.api_count") }}";
            var classes = {{ classes | safe }};
        </script>
    {% endassets %}
{% endblock %}
{% block content %}
    Settings for {{ mod.pretty_name }}
    <form method=POST id="edit_form" >
        {{ edit_form.hidden_tag() }}
        {{ form_field(edit_form.pretty_name) }}
        {{ form_field(edit_form.workshop_id, placeholder="Paste a link to the item on the Steam Workshop.") }}
        {{ form_field(edit_form.description, rows=5) }}
        {{ form_field(edit_form.tags) }}
        <div class="form-row form-authors">
            {{ edit_form.authors.label }}
            <div class="input">
                {%- for author_field in edit_form.authors -%}
                    <div class="author-field cf">
                        {%- if mod.authors[loop.index0] -%}
                            <div class="author-block cf">{{ steam_block(mod.authors[loop.index0], no_link=True) }}</div>
                        {%- endif -%}
                        <div class="input">{{ author_field.author(placeholder="Paste a user's Steam profile URL (/id/<vanity> or /profiles/<number>)", class="input-default") }}</div>
                        {{ field_errors(author_field.author) }}
                    </div>
                {%- endfor -%}
                {{ field_errors(edit_form.authors) }}
            </div>
        </div>
        {{ form_field(edit_form.equip_regions) }}
        {{ form_field(edit_form.bodygroups) }}
        <div class="form-row offset" id="item-count">The current settings return <span>{{ count | default(0) }}</span> compatible items.</div>
        {{ form_field(edit_form.package_format) }}
        {{ form_field(edit_form.visibility) }}
        <div class="form-row offset">{{ edit_form.publish(class="input-default") }}</div>
    </form>
    <a href="{{ url_for('mods.page', mod_id=mod.id) }}">Return to the '{{ mod.pretty_name }}' page</a>
{% endblock %}
{% block styles %}
    {% assets "multiple-select" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
    {{ super() }}
{% endblock %}