{% macro mod_block(mod) -%}
    {% if mod.class_model | length > 1 %}
        {% set mod_class = "all_class" %}
    {% else %}
        {% set mod_class = mod.class_model[0].class_name %}
    {% endif %}
    <a href="{{ url_for('mods.mod_page', mod_id=mod.id) }}" class="mod {{ mod.size }}">
        <div class="mod_class {{ mod_class }}" title="{{ mod.mod_class | capitalize }}"></div>
        <div class="info">
            <div class="authors">
                {%- for author in mod.authors -%}
                    {{ author.name }}
                {%- endfor -%}
            </div>
            <div class="name">{{ mod.pretty_name }}</div>
            <div class="spacer"></div>
            <div class="stats">
            <ul>
                <li>{{ mod.downloads | default("0") }}<span>Downloads</span></li>
                <li>{{ mod.replacements | default("0") }}<span>Replacements</span></li>
            </ul>
            </div>
        </div>
        <img src="{{ url_for('mods.mod_image', mod_id=mod.id) }}" />
    </a>
{%- endmacro %}