{% from "macros.html" import steam_block %}
{%- macro mod_block(mod, large) -%}
    {% if mod.class_model | length > 1 %}
        {% set mod_class = "multi-class" %}
    {% else %}
        {% set mod_class = mod.class_model.itervalues().next().class_name %}
    {% endif %}
    <a href="{{ url_for('mods.page', mod_id=mod.id) }}" class="mod{{ " large" if large }}">
        <div class="mod_class {{ mod_class }}" title="{{ mod_class | capitalize }}"></div>
        <div class="info">
            <div class="authors">
                {%- for author in mod.authors -%}
                    {{ author.name }}{{ ", " if not loop.last }}
                {%- endfor -%}
            </div>
            <div class="name">{{ mod.pretty_name }}</div>
            <div class="spacer"></div>
            <div class="stats">
            <ul>
                <li>{{ mod.downloads | default(0) | format_thousands}}<span>Downloads</span></li>
                <li>{{ mod.replacements | default(0) | format_thousands }}+<span>Replacements</span></li>
            </ul>
            </div>
        </div>
        <img src="{{ url_for('mods.image', mod_id=mod.id, type=0) }}" />
    </a>
{%- endmacro -%}
{%- macro author_list(authors) -%}
    {%- for author in authors -%}
        {{ steam_block(author) }}
    {%- endfor -%}
{%- endmacro -%}