{% extends "layout.html" %}
{% from "mods/macros.html" import author_list, readable_visibility %}
{% if mod.class_model | length > 1 %}
    {% set mod_class = "multi-class" %}
{% else %}
    {% set mod_class = mod.class_model.itervalues().next().class_name %}
{% endif %}
{% block scripts %}
    {{ super() }}
    <script>
        var tf2_api = "{{ url_for("tf2.api") }}";
        var mod_id  = {{ mod_id }};
        var page = {{ page }};
    </script>
    {% assets "download_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
{% block content %}
    <div id="sidebar" class="cf">
        <div class="sidebar left">
            <div class="backpack_image">
                <img src="{{ url_for('.image', mod_id=mod.id, type=0) }}" />
            </div>
            <div class="mod-name">{{ mod.pretty_name }}</div>
        </div>
        <div class="sidebar right">
            <div class="authors cf">
                <span class="mod-stat-title">An item created by:</span>
                {{ author_list(mod.authors) }}
            </div>
            {%- if mod.workshop_id -%}
                <div class="workshop">
                    <a href="//steamcommunity.com/sharedfiles/filedetails/?id={{ mod.workshop_id }}" target="_blank" title="View on Steam Workshop"><img src="{{ url_for('static', filename='images/workshop.png') }}"/></a>
                </div>
            {%- endif -%}
            <div>
                <span class="mod-stat-title">Downloads: </span>
                <span class="mod-stat">{{ mod.downloads | default(0) | format_thousands}}</span>
            </div>
            <div>
                <span class="mod-stat-title">Replacements: </span>
                <span class="mod-stat">{{ mod.replacements | default(0) | format_thousands }}+</span>
            </div>
            <div><span class="mod-stat-title">Class: </span>
                {%- for key, class in sorted_classes -%}
                    <a href="{{ url_for('.search', class=class) }}">{{ class }}</a>{{ ", " if not loop.last }}
                {%- endfor -%}
            </div>
            {%- if mod.bodygroups | length > 0 -%}
                <div class="bodygroups">
                    <span class="mod-stat-title">Bodygroups: </span>
                    {%- for bodygroup in mod.bodygroups -%}
                        <a href="{{ url_for('.search', bodygroup=bodygroup.bodygroup) }}">{{ bodygroup }}</a>{{ ", " if not loop.last }}
                    {%- endfor -%}
                </div>
            {%- endif -%}
            <div class="equip_regions">
                <span class="mod-stat-title">Equip region: </span>
                {%- for equip_region in mod.equip_regions -%}
                    <a href="{{ url_for('.search', equip_region=equip_region.equip_region) }}">{{ equip_region }}</a>{{ ", " if not loop.last }}
                {%- endfor -%}
            </div>
            <div>
                <span class="mod-stat-title">Uploaded: </span>
                <span>{{ mod.uploaded | datetime_to_datestring }}</span>
            </div>
            {%- if current_user in mod.authors or current_user.is_admin() -%}
                <div id="owner_controls">
                    <div class="mod-stat-title">Owner controls</div>
                    <div><span class="mod-stat-title">Visibility:</span> {{ readable_visibility(mod.visibility) }}</div>
                    <div><a href="{{ url_for(".edit", mod_id=mod.id) }}">Edit mod</a></div>
                </div>
            {%- endif -%}
        </div>
    </div>
    <div class="mod-left">
        {%- if mod.description -%}
            <div class="mod-description">
                {{ mod.description | markdown }}
            </div>
        {%- endif -%}
        {%- if current_user.is_authenticated() -%}
            <div class="item-search">
                <span>Filter for items to replace:</span>
                <form id="item_search" method="POST">
                    {{ item_search.hidden_tag() }}
                    {{ item_search.item_name(placeholder="Item name...", class="input-default") }}
                    {{ item_search.classes }}
                    {{ item_search.equip_regions }}
                    {{ item_search.bodygroups }}
                </form>
                <div id="results">
                    {%- if item_results -%}
                        {{ item_results | safe }}
                    {%- else -%}
                        No items found matching this criteria. Change the criteria above to find items.
                    {%- endif -%}
                </div>
            </div>
        {%- else -%}
            <div><a href="{{ url_for("users.login") }}">Login via Steam</a> to repackage and download this mod.</div>
        {%- endif -%}
    </div>
{% endblock %}
{% block styles %}
    {% assets "multiple-select" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
    {{ super() }}
{% endblock %}