{% extends "layout.html" %}
{% import "mods/macros.html" as mod_macros %}
{% block content %}
    <div class="sidebar">
        <div class="backpack_image"><img src="{{ url_for('.image', mod_id=mod.id) }}" /></div>
        <div class="authors">
            <span>Authors:</span>
            {{ mod_macros.author_list(mod.authors) }}
        </div>
        {%- if mod.bodygroups | length > 0 -%}
            <div class="bodygroups">
                <span>Bodygroups: </span>
                {%- for bodygroup in mod.bodygroups -%}
                    <a href="{{ url_for('.search', bodygroup=bodygroup.bodygroup) }}">{{ bodygroup }}</a>{{ ", " if not loop.last }}
                {%- endfor -%}
            </div>
        {%- endif -%}
        <div class="equip_regions">
            <span>Equip region: </span>
            {%- for equip_region in mod.equip_regions -%}
                <a href="{{ url_for('.search', equip_region=equip_region.equip_region) }}">{{ equip_region }}</a>{{ ", " if not loop.last }}
            {%- endfor -%}
        </div>
    </div>
    <h1>{{ mod.pretty_name }}</h1>
    <ul>
        <li><a href="{{ url_for('.download', mod_id=mod.id) }}">Download to replace item</a></li>
        {%- if mod.workshop_id -%}
            <li><a href="//steamcommunity.com/sharedfiles/filedetails/?id={{ mod.workshop_id }}" target="_blank">View on Steam Workshop</a></li>
        {%- endif -%}
        {%- if current_user in mod.authors or current_user.is_admin() -%}
            <li><a href="{{ url_for(".edit", mod_id=mod.id) }}">Edit mod</a></li>
        {%- endif -%}
    </ul>
{% endblock %}