{% extends "layout.html" %}
{% block content %}
    <b>Additional thanks go to:</b>
    <ul>
        <li><a href="http://facepunch.com/showthread.php?t=1410735" target="_blank">Facepunch, TF2 Mod Emporium</a></li>
        <li>agronholm and other users from the <a href="http://webchat.freenode.net/?channels=sqlalchemy" target="_blank">#sqlalchemy IRC channel on freenode.net</a></li>
        <li>Eimantas Paškonis and fontsquirrel for the <a href="http://www.fontsquirrel.com/fonts/neris" target="_blank">Neris font</a></li>
        <li><a href="https://github.com/wenzhixin" target="_blank">wenzhixin</a> for <a href="https://github.com/wenzhixin/multiple-select" target="_blank">multiple-select</a></li>
    </ul>
{% endblock %}