{% from "macros.html" import steam_block %}
<div class="header bg_{{ range(5) | random }} cf">
    <div class="container">
        <div id="status">
            <div class="title">Current status: <span>Closed Beta</span></div>
            <div class="info">
                During this early stage in development, mod uploading is restricted only to pre-approved users.
                <br />
                This is to restrict load upon the server.
                <br />
                <br />
                After a sufficient testing period, the site will move into <span>Open Beta</span>, allowing all users to upload mods.
            </div>
        </div>
        {%- if current_user.is_authenticated() -%}
            {{ steam_block(current_user, True) }}
            <ul class="dropdown-menu">
                {%- if current_user.is_uploader() -%}
                    <li><a href="{{ url_for('mods.upload') }}">Upload mod<br />(
                        {%- if current_user.upload_credits != -1 -%}
                        {{ current_user.upload_credits | default(0) }} {%- else -%} Infinite {%- endif %} credit{{ current_user.upload_credits | pluralize }}
                        )</a></li>
                {%- endif -%}
                {%- if current_user.is_admin() -%}
                    <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
                {%- endif -%}
                {%- if current_user.is_admin() or current_user.is_uploader() -%}
                    <li class="spacer"></li>
                {%- endif -%}
                <li><a href="{{ url_for('users.user_page', user_id=current_user.account_id) }}">Profile</a></li>
                <li><a href="{{ url_for('users.logout') }}">Logout</a></li>
            </ul>
        {%- else -%}
            <a class="steam_login" href="{{ url_for("users.login") }}"><img src="{{ url_for('static', filename='images/sits_large_noborder.png') }}" alt="Sign in with Steam"/></a>
        {%- endif -%}
        <a class="logo" href="{{ url_for('index') }}"></a>
    </div>
</div>