<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}{{ " - " if title }}mods.tf</title>
    {% assets "main_css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
    {% block scripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        {% assets "main_js" %}
            <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% endblock %}
</head>
<body>
    {% include "header.html" %}
    <div class="container cf" id="content">
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="flash alert {{ 'alert-' + category if category != 'message' else 'alert-info'}}">
            <button type="button" class="close">×</button>
                {{message}}
            </div>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </div>
    <footer>
		<div class="container cf">
			<span id="created_container">Developed by <a target="_blank" href="http://steamcommunity.com/id/smashman2004">Ben 'smash.mn' Williams</a>. Site designed by <a target="_blank" href="http://steamcommunity.com/id/nassimo">Nassim 'NassimO' Sadoun</a>.</span>
            <div class="recommend">If you like mods.tf, please consider <a target="_blank" href="http://steamcommunity.com/workshop/suggestserviceproviders/?appid=440">recommending it as a service provider on the Workshop</a></div>
            <div class="valve">Valve, Steam, and Team Fortress are trademarks and/or registered trademarks of <a href="http://valvesoftware.com/" target="_blank">Valve Corporation</a>. mods.tf not endorsed by Valve. This site is powered by <a href="http://steampowered.com/" target="_blank">Steam</a>.</div>
		</div>
	</footer>
</body>
</html>