{%- macro steam_block(user_info, header=False, no_link=False) -%}
    {%- if not no_link -%}
        <a class="steam_block" href="{{ url_for('users.user_page', user_id=user_info.account_id) }}">
    {%- else -%}
        <div class="steam_block">
    {%- endif -%}
    {%- if user_info.avatar_small -%}
        <div class="iconholder"><img src="{{ user_info.avatar_small }}"/></div>
    {%- endif -%}
    <div class="name">{{ user_info.name }}</div>
    {%- if header -%}
        <div class="dropdown-arrow"></div>
    {%- endif -%}
    {%- if not no_link -%}
        </a>
    {%- else -%}
        </div>
    {%- endif -%}
{%- endmacro -%}
{%- macro form_field(field, placeholder, rows) -%}
    <div class="form-row">
        {{ field.label }}
        <div class="input{{ " select" if field.type == "SelectField" }}{{ " error" if field.errors }}">
        {{ field(placeholder=placeholder, class="input-default", rows=rows if rows) }}
            {% if field.description %}
                <div class="description">{{ field.description | safe }}</div>
            {% endif %}
            {{ field_errors(field) }}
        </div>
    </div>
{%- endmacro -%}
{%- macro field_errors(field) -%}
    {%- if field.errors -%}
        {%- for error in field.errors -%}
            <div class="error">{{ error }}</div>
        {%- endfor -%}
    {%- endif -%}
{%- endmacro -%}
{%- macro pagination(pagination_obj, endpoint, endpoint_values={}) -%}
    {%- if pagination_obj.pages > 1 -%}
        <div class="pagination">
            <ul>
                {%- if pagination_obj.has_prev -%}
                    <li><a class="prev" href="{{ url_for(endpoint, page=pagination_obj.prev_num, **endpoint_values) }}">&#9664;</a></li>
                {%- else -%}
                    <li class="disabled"><a class="prev">&#9664;</a></li>
                {%- endif -%}
                {# Next button #}
                {%- if pagination_obj.has_next -%}
                    <li><a class="next" href="{{ url_for(endpoint, page=pagination_obj.next_num, **endpoint_values) }}">&#9654;</a></li>
                {%- else -%}
                    <li class="disabled"><a class="next">&#9654;</a></li>
                {%- endif -%}
                {# Individual page links #}
                {%- for page in pagination_obj.iter_pages() -%}
                    {%- if page -%}
                        <li class="{{ "active" if pagination_obj.page == page }}"><a class="page" href="{{ url_for(endpoint, page=page, **endpoint_values) }}">{{ page }}</a></li>
                    {%- else -%}
                        <li class="disabled"><a>&hellip;</a></li>
                    {%- endif -%}
                {%- endfor -%}
            </ul>
            {# Number shown on page and total #}
            {%- set first_on_page = (pagination_obj.page - 1)*pagination_obj.per_page + 1 -%}
            {%- set total_on_page = pagination_obj.page*pagination_obj.per_page -%}
            {%- if total_on_page > pagination_obj.total -%}
                {%- set total_on_page = pagination_obj.total -%}
            {%- endif -%}
            <div class="meta">{{ first_on_page }} - {{ total_on_page }} of {{ pagination_obj.total }}</div>
        </div>
    {%- endif -%}
{%- endmacro -%}
{%- macro mod_wall(mods) -%}
{% from 'mods/macros.html' import mod_block %}
    <div class="mod_wall cf">
    {% for mod in mods %}
        {% set large = False %}
        {%- if loop.first -%}
            {% set large = True %}
        {%- endif -%}
        {{ mod_block(mod, large) }}
    {% endfor %}
    </div>
{%- endmacro -%}