{% macro steam_block(user_info, header=False) -%}
    <a class="steam_block" href="{{ url_for('users.user_page', user_id=user_info.account_id) }}">
    {%- if user_info.avatar_small -%}
        <div class="iconholder"><img src="{{ user_info.avatar_small }}"/></div>
    {%- endif -%}
    <div class="name">{{ user_info.name }}</div>
    {%- if header -%}
        <div class="dropdown-arrow"></div>
    {%- endif -%}
    </a>
{%- endmacro %}
{%- macro form_field(field, placeholder, disabled) -%}
        <div>{{ field.label }}&nbsp;{{ field(placeholder=placeholder) }}
        {%- if field.errors -%}
            {%- for error in field.errors -%}
                <span>{{ error }}</span>
            {%- endfor -%}
        {%- endif -%}
    </div>
{%- endmacro -%}